*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: linear-gradient(to left,white, white, #065535);
}

a:hover{
    text-decoration: none;
    color: white;
}

.card{
    width: 850px;
    height: 490px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    -webkit-perspective: 1200px;
    perspective: 1200px;
    transition: 2s;
}

.card:hover{
    transform: rotate(-5deg);
}

.card:hover .outside{
    transform: rotateY(-130deg);
}

.outside,
.inside{
    height: 100%;
    width: 50%;
    position: absolute;
    left: 50.1%;
}

.inside{
    background: linear-gradient(to right, #e0e0e0, #ffffff 30%);
    line-height: 3;
    padding: 0 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    left: 50%;
}

.inside img{
    height: 100%;
    width: 110%;
}

.outside{
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 1;
    transform-origin: left;
    transition: 3s;
}

.front,
.back{
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    background-color: white;
}

.front{
    background: linear-gradient(to bottom, white, #065535);
}

.back{
    transform: rotateY(180deg);
    /*background: linear-gradient(to bottom, white, #065535, white,#ff5C77);*/
    background: linear-gradient(to top, white, #065535);
}

.outside p{
    font-size: 23px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 400px;
    text-align: center;
    letter-spacing: 1px;
    color: white;
}

#glass{
    position: absolute;
    top: 20px;
    flex: 0;
}

#glass img{
    margin-top: 65px;
    margin-left: 20%;
    width: 60%;
    height: 35%;
}

#stamp {
    position: absolute;
    top: 20px;
    flex: 0;
  }
  
  #stamp img {
    float: right;
    margin-right: 18%;
    width: 60%;
  }

  #RSVP {
    background-color: #ff5C77;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
    padding: 15px;
  }



